
<h1>Should I take an umbrella?</h1>
<form action="/process_umbrella" method="post">
  <label for="location-id">Where are you located?</label>
  <input id="location-id" name="location">
  <button>Submit</button>
</form>
